<div>
<md-fab-toolbar md-direction="right" count="2" md-primary>
   <md-fab-trigger class="align-with-text">
     <md-button class="md-fab md-primary" aria-label="submenu">
       <md-icon md-font-set="md">apps</md-icon>
     </md-button>
   </md-fab-trigger>
  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button aria-label="login" data-ui-sref="public.login">Login</md-button>
      <md-button aria-label="signup" data-ui-sref="public.signup">Signup</md-button>
    </md-fab-action>
  </md-toolbar>
</md-fab-toolbar>
<div data-ui-view></div>
</div>
