<nav class="flip-nav">
  <ul data-click-remove="nav-visible" data-click-remove-target="body">
    <li>
      <a href="//guclink.in/#/home"><i class="material-icons">dashboard</i></a>
    </li>
    <li>
      <a href="//guclink.in/#/status"><i class="material-icons">equalizer</i></a>
    </li>
    <li class="active">
      <a data-ui-sref="account"><i class="material-icons">person_outline</i></a>
    </li>
    <li>
      <a href="//guclink.in/#/about"><i class="material-icons">info_outline</i></a>
    </li>
  </ul>
</nav>
